<div class="form">
    <form class="form__content">
        <p>Preencha seus dados</p>
        <input type="text" class="form__content--estilo" ng-model="form.nome" placeholder="Nome Completo" required />
    
        <input type="email" class="form__content--estilo" ng-model="form.email" placeholder="E-mail" required />
    
        <input type="text" class="form__content--estilo" ng-model="form.dataNascimento" placeholder="Data de Nascimento" required />
    
        <input type="text" class="form__content--estilo" ng-model="form.cpf" placeholder="CPF" required />
    
        <input type="tel" class="form__content--estilo" ng-model="form.telefone" placeholder="Telefone" />
    
        <a class="btn-confirmar" ng-click="enviarFormulario()">Confirmar</a>
    </form>
</div>