<form class="formulario">
    <p>Username:
        <input type="text" ng-model="form.name" />
    </p>

    <p>Email:
        <input type="email" ng-model="form.email" />
    </p>

    <p class="oi">Data de Nascimento:
        <input type="date" ng-model="form.dataNascimento" />
    </p>

    <p>CPF:
        <input type="number" ng-model="form.cpf" />
    </p>

    <p>Telefone:
        <input type="tel" ng-model="form.telefone" />
    </p>

    <p>
        <input type="submit" ng-click="enviarFormulario()" />
    </p>

</form>